.main {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.done {
  font-size: var(--done-size);
}

.possibles {
  width: 100%;
  height: 100%;
  padding: var(--space0);
  color: var(--text-gray);
  font-family: monospace;
  font-size: var(--possible-size);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.possible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.removable {
  color: var(--text-removeable);
  font-weight: bold;
  background: var(--bg-removeable);
}
