.main {
  width: calc(9 * var(--cell-size) + 16px);
  padding-top: var(--space2);
  display: flex;
  flex-wrap: wrap;
}

.section {
  margin: 0 var(--space2) var(--space1) 0;
}

.title {
  padding: var(--space1) 0;
}

.button {
  position: relative;
  margin-right: var(--space0);
}

.badge {
  position: absolute;
  top: -4px;
  right: -2px;
  padding: 1px 3px;
  border-radius: 25%;
  background: var(--text-removeable);
  font-size: var(--possible-size);
}
