:root {
  --space0: 4px;
  --space1: 8px;
  --space2: 16px;
  --text-black: #181818;
  --text-active: #20d8d8;
  --text-disabled: #585858;
  --text-hover: #181818;
  --button: #88b8e0;
  --button-disabled: #d0d0d0;
  --button-hover: #20f0f0;
  --radius: 2px;
  --cell-size: 60px;
  --done-size: calc(.55 * var(--cell-size));
  --possible-size: calc(.35 * var(--done-size));
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
  font-family: Arial;
}

button {
  background: var(--button);
  padding: var(--space1) var(--space2);
}

button:hover {
  background: var(--button-hover);
  color: var(--text-hover);
}

button:disabled {
  background: var(--button-disabled);
  color: var(--text-disabled);
}
