:root {
  --space0: 4px;
  --space1: 8px;
  --space2: 16px;
  --text-black: #181818;
  --text-blue: #6060d8;
  --text-red: #e82828;
  --light-gray: #f4f4f4;
  --cell-size: 65px;
  --done-size: calc(.55 * var(--cell-size));
  --possible-size: calc(.35 * var(--done-size));
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--light-gray);
}
