.main {
  padding: var(--space1) 0 var(--space2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current {
  display: flex;
  align-items: center;
}

.button {
  margin-right: var(--space0);
}

.score {
  position: relative;
  top: -0.4em;
  padding: 1px 3px;
  border-radius: 25%;
  margin-left: var(--space0);
  font-size: 0.8em;
  background: var(--bg-button-disabled);
}
